<!DOCTYPE html>
<html>
<head>
    <title>Add Term Discount</title>
    <p>Add Term Discount</p>
</head>
<body>
    <form action="/addTermDiscount" method="POST">
         <p>Enter Discount Name:</p>
        <p><input type="text" name="discount_name" /></p>
        <p>Enter Discount Term:</p>
        <p><input type="text" name="discount_term" /></p>
         <p>Enter Discount value:</p>
        <p><input type="text" name="discount_value" /></p>
        <p><input type="submit" value="Add Term Discount" /></p>
        <p>{{message}}</p>
    </form>
    <form action="/dashboard" method="POST">
        <p><input type="submit" value="Back To Dashboard" /></p>
    </form>


</body>
</html>