<!DOCTYPE html>
<html>
<head>
    <title>Change Password Page</title>
    <p>Change Password</p>
</head>
<body>
    <form action="/changePassword" method="POST">
        <p>Enter Current Password:</p>
        <p><input type="text" name="current_password" /></p>
        <p>Enter New Password:</p>
        <p><input type="password" name="new_password" /></p>
        <p><input type="submit" value="change password" /></p>
    </form>
    <p>{{message}}</p>
    <form action="/dashboard" method="GET">
        <p><input type="submit" value="back to dashboard" /></p>
    </form>

</body>
</html>