<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <p>Checkout</p>
</head>
<body>
    <form action="/checkout.html" method="POST">
        <p>Price:{{price}}</p>
        <p>Card Number : </p>
        <p><input type="text" name="cardNum" /></p>
        <p>delivery address : </p>
        <p><input type="text" name="delivery" /></p>
        <p>{{message}}</p>
    </form>
        <form action="/checkout" method="POST">
        <p><input type="submit" value="Pay" /></p>
    </form>
    <form action="/dashboard" method="GET">
        <p><input type="submit" value="return to dashboard" /></p>
    </form>
</body>
</html>