<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<h1 style="color:blue;">Dashboard</h1>

    <form action="/storesProducts" method="POST">
        <p><input type="submit" value="Stores & Products" /></p>
    </form>
    <form action="/manageCart" method="POST">
        <p><input type="submit" value="Manage Cart" /></p>
    </form>
    <form action="/manageStore" method="POST">
        <p><input type="submit" value="Manage Store" /></p>
    </form>
    <form action="/logout" method="GET">
        <p><input type="submit" value="Log Out" /></p>
    </form>
</body>
</html>