<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
    <p>Edit Product</p>
</head>
<body>
    <form action="/editProduct" method="POST">
        <p>Enter Product Name:</p>
        <p><input type="text" name="productName" /></p>
        <p>Enter Prodect Price:</p>
        <p><input type="text" name="productPrice" /></p>
        <p>Enter Prodect Amout:</p>
        <p><input type="text" name="productAmout" /></p>
        <p>Enter Prodect Description:</p>
        <p><input type="text" name="productDescription" /></p>
                <p>Enter Product Category:</p>
        <p><input type="text" name="productCategory" /></p>
        <p><input type="submit" value="Edit Product" /></p>
        <p>{{message}}</p>
    </form>
    <form action="/dashboard" method="GET">
        <p><input type="submit" value="Back To Dashboard" /></p>
    </form>


</body>
</html>