<!DOCTYPE html>
<html>
<head>
    <title>Employee Permissions</title>
    <p>Employee Permissions</p>
</head>
<body>
<form action="/getEmployeePermissions" method="POST">
        <p>Enter Employee ID:</p>
        <p><input type="text" name="employeeid" /></p>
        <p><input type="submit" value="Show Employee Permissions" /></p>
    </form>
<p>{{message}}</p>
    <form action="/dashboard" method="POST">
        <p><input type="submit" value="Back To Dashboard" /></p>
    </form>
</body>
</html>