<!DOCTYPE html>
<html>
<head>
    <title>Product Info</title>
    <p>Product Info</p>
</head>
<body>
    <form action="/productInfo" method="POST">
        <p>Enter storeID:</p>
        <p><input type="text" name="storeID" /></p>
        <p>Enter productID:</p>
        <p><input type="text" name="productID" /></p>
        <p><input type="submit" value="submit" /></p>
        <p>Store ID : {{storeID}}</p>
        <p>Product ID : {{productID}}</p>
        <p>Price : {{price}}</p>
        <p>{{warning}}</p>




    </form>
    <form action="/dashboard" method="GET">
        <p><input type="submit" value="return to dashboard" /></p>
    </form>
</body>
</html>