<!DOCTYPE html>
<html>
<head>
    <title>Remove Store Owner</title>
    <p>Remove Store Owner</p>
</head>
<body>
    <form action="/removeStoreOwner" method="POST">
        <p>Enter Store ID:</p>
        <p><input type="text" name="storeid" /></p>
        <p>Enter User ID:</p>
        <p><input type="text" name="userid" /></p>
        <p><input type="submit" value="Remove Store Owner" /></p>
    </form>
    <form action="/dashboard" method="GET">
        <p><input type="submit" value="Back to Dashboard" /></p>
    </form>
    <p>{{message}}</p>


</body>
</html>