<!DOCTYPE html>
<html>
<head>
    <title>signup Page</title>
    <p>Sign Up</p>
</head>
<body>
    <form action="/signup" method="POST">
        <p>Enter Username:</p>
        <p><input type="text" name="username" /></p>
        <p>Enter age:</p>
        <p><input type="text" name="age" /></p>
        <p>Enter Password:</p>
        <p><input type="password" name="password" /></p>
        <p><input type="submit" value="sign up" /></p>
    </form>
    <p>{{message}}</p>
    <form action="/" method="POST">
        <p><input type="submit" value="back to login page" /></p>
    </form>


</body>
</html>