<!DOCTYPE html>
<html>
<head>
    <title>Stores & Products</title>
    <p></p>
</head>
<body>
<h1>Stores & Products</h1>
<!--<form action="/productInfo" method="GET">-->
<!--    <p><input type="submit" value="Get information about a product"/></p>-->
<!--</form>-->
<form action="/storeInfo" method="GET">
    <p><input type="submit" value="Get information about a store"/></p>
</form>
<form action="/prodByName" method="GET">
    <p><input type="submit" value="Find product by name"/></p>
</form>
<form action="/prodByCategory" method="GET">
    <p><input type="submit" value="Find product by category"/></p>
</form>
<form action="/prodByKeyword" method="GET">
    <p><input type="submit" value="Find product by keyword"/></p>
</form>
<!--<form action="/prodMultiFilter" method="GET">-->
<!--    <p><input type="submit" value="Find product by Multi filter"/></p>-->
<!--</form>-->
<form action="/dashboard" method="GET">
    <p><input type="submit" value="Back To Dashboard"/></p>
</form>
</body>
</html>